<ul>
  <% field.values.each do |item| %>
    <li>
      <% if item.to_s =~ URI::regexp %>
        <%= link_to item, item %>
      <% else %>
        <%= item.to_s %>
      <% end %>
    </li>
  <% end %>
</ul>